:root {
  --color-lightest: #fff4e6;
  --color-light: #ffe8cc;
  --color-medium: #ffa94d;
  --color-dark: #ff922b;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

html {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
body {
  height: 100vh;
  background-color: #fefae0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  height: 60vh;
  display: grid;
  grid-template-columns: 35rem 45rem;
  column-gap: 4rem;
  align-items: start;
}

.sidebar {
  background-color: #d9d9d9;
  display: flex;
  justify-content: left;
  border-radius: 2em;
}
.sidebar ul {
  list-style: none;
  font-size: 2em;
  display: flex;
  flex-direction: column;
  gap: 0.4em;
}
.sidebar li {
  padding: 1.2em;
  margin: 1em 2em;

  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  column-gap: 1.6em;
  border-radius: 7px;
  transition: 0.5s;
}

.selected,
.sidebar li:hover {
  background-color: var(--color-lightest);
}

.sidebar li img {
  border-radius: 50%;
  grid-row: 1/3;
}

.sidebar li h3 {
  grid-row: 1;
  grid-column: 2;
}

.sidebar li p {
  grid-row: 2;
  grid-column: 2;
}

.red {
  color: #d00000;
}
.green {
  color: #104911;
}
